body{
	margin: 0;
	padding: 0;
}
#box{
	height: 402px;
	position: relative;
	border: 1px solid #666;
	overflow: hidden;
}
#box img{
	/*width: 300px;*/
	display: block;
	border: 1px solid #666;
	position: absolute;
	left: 0;
	top: 0;
}